html {
  background-color: #cacaca;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input {
  width: 75%;
}

.lyricContainer {
  background-color: black;
  color: white;
}
